/* LAYOUT */

body {
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
